*{
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
transition: all .2s linear;

}
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 5.5rem;
}
body{
	background: #eee;
}

#header{
	width: 100%;
	height: 650px;
	background: url(images/p7.jpg);
	background-size: cover;
	background-position: center;
	
}
.container{
	padding: 10px 6%;
}

.head{
		position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0.5rem .2rem rgba(0, 0, 0, .1);
}
.logo{
	color: #192a56;
	font-size: 2.5rem;
	font-weight: bolder;
	margin-left: -60px;

}
.logo img{
	height: 80px;
	width: 150px;
	margin: -10px;
}

.navbar a{
	font-size: 1.7rem;
	border-radius: .5rem;
	padding: 1rem 1.5rem;
	color: #666;
}
.navbar a.active,
.navbar a:hover{
	color: #fff;
	background: #27ae60;
}
 .icons{
	display: flex;
}
.icons i{
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	width: 4.5rem;
	text-align: center;
	font-size: 1.7rem;
	color: #192a56;
	border-radius: 50%;
	background: #eee;
}
.icons i:hover{
	background: green;
	color: #fff;
	transform: rotate(360deg);
}
.icons #menu-bars{
	display: none;
}
 .icons a{
	cursor: pointer;
	margin-left: 1.5rem;
	margin-right: -2rem;
	height: 5rem;
	line-height: 4.5rem;
	width: 6rem;
	text-align: center;
	font-size: 1.7rem;
	background: #eee;
	color: green;
	width: 70px;
	border-radius: .5rem;
}
.icons a:hover{
 background: green;
 color: white;
}


.container1{
	margin-top: 15%;
	padding: 40px 0;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: #fff;
}
.header-text{
	margin-left: 20px;
}
.header-text h3{
		font-weight: 500;
	font-size: 40px;
	margin-bottom: 20px;
	color: yellow;
}
.header-text p{
	font-size: 30px;
	margin-bottom: 30px;
	color: yellowgreen;
}
.header-text a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	line-height: 60px;
   font-weight: 300;
   border-radius: 5px;
   padding: 10px;
   margin-left: 30px;
   border-color: #27ae60;
   border: 1px solid;
}
.header-text a:hover{
	background: #ffeaba;
	color: green;
}

#services{
	margin-top: 0;
	padding: 30px 0;
    background: #de3730ff;
}
.work1{
	position: relative;
	overflow: hidden;
    margin-top: -10px;
}
.work1 img{
	width: 100%;
	height: 100%;
	display: block;
	

}

.services-list{

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 20px;
			display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
	margin-top: 20px;
}

.services-list div{
	padding: 0;
	font-size: 13px;
	font-weight: 300;
	background: #fff;
}
.services-list div h2{
	font-size: 25px;
    margin: 0 10px;
	font-weight: 300;
	font-family: georgia;
	margin-top: 10px;
}

.services-list div p{
	font-size: 14px;
	font-weight: 400;
	color: #000;
	padding: 0 10px;
	margin-top: 10px;
}

.services-list div:hover{
	
	transform: scale(1.0);
}


#hom{
    margin-top: 50px;
	margin-bottom: -30px;
	padding: 40px;
	font-size: 14px;
	background: #410002ff;
   
	
}
.home-slider{
	display: block;
}
.slider{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    padding-bottom: 50px;
}
.image{
	flex-basis: 40%;


}
.image img{
	width: 100%;
	height: 80%;
	border-radius: 1%;
}


.cont{
	flex-basis: 50%;
}
.title{
	margin-top: 100px;
	font-size: 30px;
	font-weight: 500;
	color: green;
	font-family: italic;
}
.cont h3{
	font-size: 30px;
	margin-top: 40px;
	color: yellow;

}
.cont p{
	color: yellowgreen;
	font-size: 16px;
	margin-top: 20px;
}

.swiper-pagination{
	color: #000;
	padding-top: 50px;
}



#menu{
	margin-top: 0;
	padding: 50px 0;
	background: #3c4043;
}

.work-list{
      
		display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;

}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #fff);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #192a56;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 16px;
	transition: height 0.5s;
}
.layer h3{
	font-weight: 500;
	margin-bottom: 20px;
}
.layer a{
	margin-top: 20px;
	color: #27ae60;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
   font-weight: 500;
   border-radius: 50%;
   border-color: #fff;
   border: 1px;
}
.work:hover img{
	transform: scale(1.1);
}

.work:hover .layer{
	height: 0;
}


#menu1{
	margin-top: 40px;
	padding: 50px 0;
	display: block;
	width: 70%;
	margin-left: 15%;
	margin-bottom: 100px;
	background: #fff;
}
.sub-title11{
	color: #000;
}
.sub-title12{
	color: grey;
	margin: 20px 0;
}
.budget{
margin-top: 20px;
}
.budget p{
	font-size: 16px;
	color: #000;
	font-weight: 500;
	width: 90%;
	margin-left: 15px;
	margin-top: 15px;
}
.btn{
	display: block;
	margin: 50px;
	width: fit-content;
	border: 1px solid #fff;
	background: transparent;
	padding: 12px;
	border-radius: 4px;
	font-size: 18px;
	text-decoration: none;
	color: yellowgreen;


}
.btn:hover{
	background: yellowgreen;
	color: #fff;
	transform: scale(1.1);
}

.btn6{
	display: block;
	margin: 50px;
	width: fit-content;
	border: 1px solid #fff;
	background: #000;
	padding: 12px;
	border-radius: 4px;
	font-size: 18px;
	text-decoration: none;
	color: yellowgreen;


}
.btn6:hover{
	background: yellowgreen;
	color: #fff;
	transform: scale(1.1);
}




#about{
    margin-top: -60px;
	margin-bottom: 40px;
	padding: 40px;
	color: #192a56;
	font-size: 14px;
  background: linear-gradient(rgba(0.4, 0, 0.4, 0.2), #eee);
}

.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.about-col-1{
	flex-basis: 50%;

}
.about-col-1 img{
	width: 100%;
	height: 100%;
	border-radius: 5%;
}
.sub{
	margin-top: 20px;
	font-size: 20px;
	color: black;
}

.about-col-2{
	flex-basis: 45%;
}
.sub-title{
	font-size: 40px;
	margin-top: 10px;
	font-weight: 500;
	color: yellow;
	font-family: italic;
}
.sub-title22{
	font-size: 30px;
	margin-top: 10px;
	font-weight: 500;
	color: #000;
	font-family: italic;
}
.about-col-2 p{
	font-size: 18px;
	margin-top: 20px;

}
.sub-title1{
	color: yellowgreen;
	margin: 20px 0;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;

}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;

}

#about1{
    margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
	color: #192a56;
	font-size: 14px;
	background: #eee;

	
}

.row1{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.about-col-11{
	flex-basis: 50%;

}
.about-col-11 img{
	width: 100%;
	height: 100%;
	border-radius: 5%;
}
.sub{
	margin-top: 20px;
	font-size: 20px;
	color: black;
}

.about-col-21{
	flex-basis: 45%;
	margin-top: 40px;
}
.sub-title{
	font-size: 40px;
	font-weight: 500;
	color: yellow;
	font-family: italic;
}
.about-col-21 p{
	font-size: 18px;
	margin-top: 30px;

}
.sub-title1{
	color: yellowgreen;
	margin-top: 20px;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;

}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;

}


#about3{
    margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
	color: #192a56;
	font-size: 14px;
	background: #eee;

	
}

.row3{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.about-col-13{
	flex-basis: 50%;
	margin-top: -40px;

}
.about-col-13 img{
	width: 100%;
	height: 100%;
	border-radius: 5%;
}
.sub{
	margin-top: 20px;
	font-size: 20px;
	color: black;
}

.about-col-23{
	flex-basis: 45%;
	margin-top: 40px;
}
.sub-title{
	font-size: 40px;
	font-weight: 500;
	color: yellow;
	font-family: italic;
}
.about-col-23 p{
	font-size: 18px;
	margin-top: 30px;

}

.about-col-13{
	flex-basis: 50%;
}
.about-col-23{
	flex-basis: 45%;
}




#about4{
    margin-top: -60px;
	margin-bottom: 40px;
	padding: 40px;
	color: #192a56;
	font-size: 14px;
   background: #eee;
   filter: brightness(100%);
	
}

#about4 p{
	color: #000;
}


#reviews{
	
 background: #54595F;
 padding-bottom: 80px;
}
.work2{
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}
.work2 img{
	width: 40%;
	height: 60%;
	margin-left: 80px;
	border-radius: 60%;
	display: block;

}

.reviews{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 20px;
			display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 40px;
	margin-top: 20px;
}

.reviews div{
	padding: 5px 2px;
	background: grey;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
}
.reviews div h2{
	font-size: 20px;
	font-weight: 400;
	font-family: georgia;
	margin-top: 10px;
	margin-bottom: 15px;
}

.reviews div p{
	font-size: 14px;
	font-weight: 400;
	margin-top: 20px;
}
.reviews div a{
	text-decoration: none;
	color: #27ae60;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;

}
#contact{

   	background: #54595F;
	margin-top: 0;
     padding: 40px 0;
}
#contact1{

   	background: url(images/p3.jpg);
	margin-top: 50px;
     padding: 40px 0;
     filter: brightness(50%);
}
.contact-left{
	flex-basis: 35%;

}

.contact-right{
	flex-basis: 60%;

}
.contact-right img{
	width: 100%;

}
.h{
	font-size: 15px;
	margin: 15px 0;
	color: blue;
	
}
.contact-left p{
	margin-top: 40px;
	font-size: 20px;
	color: blue;
}
.contact-left p span{
	color: #fff;
	font-size: 22px;
}
.social-icons i{
	margin-top: 30px;
   color: #fff;
   margin-right: 20px;
   font-size: 25px;

}
.social-icons i:hover{
	transform: scale(1.4);
}
.btn1{
	display: block;
	margin: 50px 0;
	width: fit-content;
	border: 1px solid #fff;
	padding: 14px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	background: transparent;



}
.btn1:hover{
	background: #27ae60;
}

.contact-right form{
	width: 100%;
}
form h2{
	font-size: 18px;
	font-weight: 400px;
	color: #262626;
}
form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
form .btn2{
	padding: 14px 40px;
	font-size: 16px;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	background: #27ae60;
	margin-bottom: 30px;
}
form .btn2:hover{
	background: green;
	transform: scale(1.1);
}

.copyright{
	width: 100%;
	text-align: center;
	justify-content: space-between;
	background: #54595F;
	font-weight: 300;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: -80px;
	padding: 30px 0;
}
.copyright span{
 color: #fff;
 margin: 0 120px;
}
nav .fa-solid{
	display: none;
}

@media (max-width: 600px){
	html{
		font-size: 50%;
	}
   body{
   	max-width: 100%;
   }

    #header{
    	width: 100%;
    	height: 550px;
    }
    .logo{
    margin-left: -30px;
    width: 100px;
    height: 70px;
}
.icons a{
	margin-right: ;
}
    .icons #menu-bars{
	display: block;
}

.navbar{
	position: absolute;
	top: 100%; left: 0; right: 0;
	background: #fff;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.navbar.active{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.navbar a{
	display: block;
	padding: 1.5rem;
	margin: 1rem;
	font-size: 2rem;
	background: #eee;
}
  
    .header-text h3{
    	font-size: 30px;
    	margin-left: -10px;
    }
    .btn3{
    	background: #004960;
      padding: 10px;
    }
     .header-text p{
   	margin-left: -10px;
    font-size: 20px;
    font-family: calibri body;
    margin-bottom: 10px;
    
   }
 .header-text a{
 margin-left: -5px;
 padding: 9px;
 }
     .header-col-2{
     	margin-right: 12px;
     }

     #hom{
    
     }
     .slider{
     	 	
          	padding: -20px;
          	 	margin-bottom: 40px;
     }
     .cont h3{
     	margin-top: -20px;
     }
     .btn{
     	display: none;
     }
 
     #menu1{
     	width: 98%;
     	margin-left: 10px;
       margin-top: 0;
       margin-bottom: -40px;
     }

       #menu1 img{
     	width: 100%;

     }
      .btn6{
     	margin-top: 20px;
     }
 
     .budget{
     	width: 100%;
    
     }

    #menu{
    	width: 100%;
    }

     #about{
   margin: 0;
}

      .sub{
   
	font-size: 14px;


}
   .about-col-1, .about-col-2{
   	flex-basis: 100%;
   }
      .about-col-11, .about-col-21{
   	flex-basis: 100%;
  
   }
      .about-col-13, .about-col-23{
   	flex-basis: 100%;
  
   }
   .about-col-2{
   	font-size: 14px;
   	width: 100%;
   	padding: 10px 0;
   	margin-top: 50px;

   }
   .about-col-2 p{
	font-size: 15px;

}
   .sub-title{
   	font-size: 25px;
   	padding: 6px 0;
   }
   .sub-title1{
   	font-size: 15px;
   }
 
#about1{
	margin: -25px;
}
#about3{
	margin: -25px;
}
.about-col-13{
	display: none;
}
#about4{
	margin: -25px;
}
   #services{
   	margin-top: 0;
   }
  .image, .cont{
   	flex-basis: 100%;
   }

   #contact{
   	margin-top: 0;
   }
     .contact-left, .contact-right{
   	flex-basis: 100%;
   }

   form h2{
   	padding-top: 40px;
   }
   .copyright p span{
   	display: block;
   	margin-top: 10px;
   }
}




#msg{
	color: #61b752;
	margin-top: -40px;
	display: block;
}








